---
layout: default
title: Episodes
---

<section class="posts container">
  <div class="sub">
    <a target="_blank" class="subscribe"
       href="https://itunes.apple.com/us/podcast/lovey-dummies/id1092945430">
      <span class="icon">&#xf179;</span><span class="label"> Apple</span>
    </a>
    <a target="_blank" class="subscribe"
       href="/lovey-dummies.xml">
      <span class="icon">&#xf09e;</span><span class="label"> RSS Feed</span>
    </a>
    <a target="_blank" class="subscribe"
       href="https://instagram.com/loveydummies">
      <span class="icon">&#xf16d;</span><span class="label"> Instagram</span>
    </a>
    <a target="_blank" class="subscribe"
       href="https://twitter.com/loveydummies">
      <span class="icon">&#xf099;</span><span class="label"> Twitter</span>
    </a>
    <p class="sub-links">
      subscribe to our podcast
    </p>
  </div>
  <hr />
  {% for post in site.posts %}{% if post.layout == "episode" %}
  <article class="post">
    <a class="post-header" href="{{ site.baseurl }}{{ post.url }}">  
      <div class="post-cover" style="background: url('{{ site.s3_baseurl }}/social/{{ post.id | remove_first:'/' | replace:'/','-' }}.jpg') center/cover no-repeat;"></div>
      <div class="post-float">
        <h2 class="post-title">
          {{ post.title }}
        </h2>
        <time datetime="{{ post.date | date_to_xmlschema }}"
            class="post-date">{{ post.date | date: "%B %-d, %Y" }}</time>
      </div>
    </a>
    <div class="post-body">
      {{ post.excerpt }}
    </div>
    {% include aposts.html %}
  </article>
  {% endif %}{% endfor %}
</section>
