/*       CSS for Lovey Dummies          */
/* Thanks to @mdo for the Lanyon theme! */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 38em) {
  html {
    font-size: 18px;
  }
}

body {
  color: #515151;
  color: rgba(81,81,81,1.0);
  background: #800080;
  background: rgba(128,0,128,1.0);
  background: -webkit-radial-gradient(circle, #d8005b, #800080);
  background: -o-radial-gradient(circle, #d8005b, #800080);
  background: -moz-radial-gradient(circle, #d8005b, #800080);
  background: radial-gradient(circle, #d8005b, #800080);
  margin-bottom: 3em;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;

}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: .5rem;
  line-height: 1.25;
  letter-spacing: -.025rem;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4, h5, h6 {
  font-size: 1rem;
}

p,
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
  color: rgba(48,48,48,1.0);
}

dt {
  font-weight: 600;
}
dd {
  margin-bottom: .5rem;
}

hr {
  position: relative;
  margin: 1rem 0;
  border: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #555;
  border-top-color: rgba(255,255,255,0.6);
}

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  color: rgba(122,122,122,1.0);
  border-left-style: solid;
  border-left-width: .25rem;
  border-left-color: #e5e5e5;
  border-left-color: rgba(122,122,122,0.7);
  font-size: 1.3em;
}
blockquote p:last-child {
    margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

a[href^="#fn:"],
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: .1rem;
  font-weight: bold;
}
.footnotes {
  margin-top: 2rem;
  font-size: 85%;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

a {
  color: #800080;
  text-decoration: none;
  transition: 0.2s;
}
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e5e5;
  border-color: rgba(229,229,229,1.0);
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e5e5;
  border-color: rgba(229,229,229,1.0);
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
  background-color: rgba(249,249,249,1.0);
}

.masthead {
  border: 0;
  padding: 0;
  margin: 1em 0;
}
.masthead img {
  max-height: 150px;
  margin: auto;
}
@media (max-width: 48em) {
  .masthead-title {
    text-align: center;
  }
  .masthead-title small {
    display: none;
  }
}

.tab-nav {
  margin-bottom: 2em;
}
.tab-wrap {
  display: table;
}
.tab-nav-item {
  display: table-cell;
  border-style: solid;
  border-width: 2px;
  /* Use solid border-color so that clicking a tab doesn't highlight borders */
  border-color: #eccce3;
  border-left-width: 0;
  min-width: 70px;
  width: 140px;
  padding: 0.5rem 0;
  color: rgba(255,255,255,0.9);
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}
.tab-nav-item:hover {
  background: rgba(255,255,255,0.3);
}
.tab-nav-item:focus {
  background: #eccce3;
  background: rgba(255,255,255,0.8);
  text-shadow: none;
  color: #303030;
}
.tab-nav-item.active {
  background: #eccce3;
  background: rgba(255,255,255,0.8);
  color: #303030;
  text-shadow: none;
}
.tab-nav-item.active:hover {
  background: #eccce3;
  background: rgba(255,255,255,0.8);
  color: #515151;
}
.tab-nav-item:first-child,
.tab-nav-item:hover:first-child,
.tab-nav-item:active:first-child,
.tab-nav-item:active:hover:first-child {
  border-width: 2px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.tab-nav-item:last-child,
.tab-nav-item:hover:last-child,
.tab-nav-item:active:last-child,
.tab-nav-item:active:hover:last-child {
  border-width: 2px;
  border-left-width: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.tab-nav-item.active,
.tab-nav-item:active:first-child,
.tab-nav-item:active:hover:first-child,
.tab-nav-item:active:last-child,
.tab-nav-item:active:hover:last-child {
  border-color: transparent;
}

.content {
  margin-bottom: 0.2em;
}
.post,
.page {
  background-color: rgba(255,255,255,0.8);
  border-radius: 5px;
  margin-bottom: 2rem;
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}
.page,
.post:last-child {
  margin-bottom: 0;
}

.post-header,
.page-header {
  display: block;
  position: relative;
  margin-bottom: 1rem;
}
.post-cover,
.page-cover {
  border-radius: 5px 5px 0 0;
  opacity: 0.4;
  margin: 0;
  height: 200px;
  transition: ease-out all 0.3s;
}
.post-header:hover .post-cover,
.page-header:hover .page-cover {
  opacity: 0.7;
}
.post-float,
.page-float {
  position: absolute;
  bottom: 0;
  padding: 0 1.5rem;
}

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
  color: #303030;
  font-size: 1.7rem;
  text-shadow: 0 1px 3px #fff;
}

/* Meta data line below post title */
.post-date,
.page-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #303030;
  text-shadow: 0 1px 3px #fff;
}

/* Photo credit badge for borrowed images */
.credit {
  background-color: rgba(0,0,0,0.3);
  color: #fff;
  padding: 4px 6px;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 0.7em;
  border-radius: 3px 0 0 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
.credit svg {
  height: 12px;
  width: auto;
  position: relative;
  vertical-align: middle;
  top: -1px;
  fill: #fff;
}
.credit span {
  display: inline-block;
  padding: 2px 3px;
}

/* Audio credit */
.acredit {
  margin: 0;
  font-size: 0.7em;
  text-align: center;
}

.post-body {
  padding: 0 1.5rem;
}
.page-body {
  padding: 1.5rem;
}

.sub {
  padding: 1em 0;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  box-shadow: 0 0 20px rgba(255,255,255,0.5);
}
.button,
.subscribe,
.download {
  background: #800080;
  background: rgba(128,0,128,1.0);
  color: #fff;
  color: rgba(255,255,255,0.9);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
  border-style: solid;
  border-width: 1px;
  border-color: #800080;
  border-color: rgba(128,0,128,1.0);
}
.button,
.subscribe {
  padding: 0.5em 1em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-bottom: 0.5em;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), 0 1px 2px rgba(0,0,0,0.4);
  display: inline-block;
}
.download {
  display: block;
  text-align: center;
  font-size: 1.1em;
  margin: 0;
  padding: 1rem 0;
  border-radius: 0 0 5px 5px;
  box-shadow: inset 0 -1px 0 rgba(255,255,255,0.4), 0 -1px 2px rgba(0,0,0,0.4);
}
.button:hover,
.subscribe:hover,
.download:hover {
  background: #c80050;
  background: rgba(200,0,80,1.0);
}
.button:active,
.subscribe:active,
.download:active {
  box-shadow: inset 0 1px 4px rgba(0,0,0,0.6);
  background: #b4003c;
  background: rgba(190,0,70,1.0);
}
.subscribe {
  padding: 0.1em 0.6em;
  font-size: 1.5em;
}
.disabled,
.disabled:hover,
.disabled:active {
  background: #a878a8;
  background: rgba(168,120,168,1.0);
  color: #dcc9dc;
  color: rgba(255,255,255,0.6);
  cursor: default;
}
.disabled:active {
  background: rgba(158,110,158,1.0);
}
.sub-links {
  margin-top: -0.5em;
  margin-bottom: 0.2em;
  letter-spacing: 0.2em;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: rgba(0,0,0,0.9);
  text-shadow: 0 1px 0 rgba(255,255,255,0.6);
}

audio {
  width: 100%;
  margin-bottom: 0.5rem;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.sig {
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.errata {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.icon {
  font-family: "FontAwesome", serif;
}
.label {
  display: none;
}
.tab-wrap,
.container,
.errata {
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 38em) {
  .tab-wrap,
  .container,
  .errata {
    max-width: 32rem;
  }
  .tab-nav-item .icon {
    display: none;
  }
  .label {
    display: initial;
  }
  .subscribe {
    padding: 0.5em 1em;
    font-size: 1em;
    min-width: 130px;
  }
  .post-cover,
  .page-cover {
    height: 300px;
  }
}
@media (min-width: 414px) {
  .post-title,
  .page-title {
    font-size: 2rem;
  }
}
@media (min-width: 56em) {
  .tab-wrap,
  .container,
  .errata {
    max-width: 38rem;
  }
  .post-title,
  .page-title {
    font-size: 2.5rem;
  }
  .post-date,
  .page-date {
    font-size: 20px;
  }
}

.errata {
  color: #fff;
  color: rgba(255,255,255,0.9);
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  text-align: center;
}

.fine-print {
  font-size: 0.7em;
}

input[type="text"],
input[type="email"],
textarea {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 1em;
  border-style: solid;
  border-width: 1px;
  border-color: #aaa;
  background-color: #fff;
  background-color: rgba(255,255,255,0.75);
  color: #515151;
  box-shadow: inset 0 1px 4px rgba(0,0,0,0.25);
  min-width: 100%;
  max-width: 100%;
  padding: 0.5em;
  border-radius: 5px;
}
input[type="submit"],
input[type="reset"] {
  font-family: "FontAwesome", serif;
  font-size: 1.2em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  min-width: 120px;
  transition: 0.2s;
}
textarea {
  min-height: 8em;
  height: 10em;
  max-height: 80em;
}
.required {
  font-size: 0.75em;
  margin-top: -1.5em;
  text-align: right;
  padding-right: 0.5em;
  margin-bottom: 0.5em;
}
