<div id="player0" class="player">

  <div id="chapters0" class="chapters">
    <div class="shield" onclick="toggleList(this)"></div>
      <i class="fa fa-arrow-circle-o-left chapter-back" onclick="chapterBackward(this)"></i>
      <i class="fa fa-arrow-circle-o-right chapter-forward" onclick="chapterForward(this)"></i>
      <span id="progress0" class="progress"></span>
      <ol id="cl0" class="list"></ol>
  </div>

  <div id="controls0" class="controls">
    <div class="time">
      <span class="currentTime"></span><span class="endTime"></span>
    </div>
      <i class="fa fa-backward backward" onclick="skipBackward(this)"><span>15</span></i>
      <i class="fa fa-play-circle-o playpause" onclick="playToggle(this)"></i>
      <i class="fa fa-forward forward" onclick="skipForward(this)"><span>15</span></i>
  </div>

</div>

<audio id="audio0" preload="metadata">
  <source src="{{ site.s3_baseurl }}/{{ page.opus }}" type='audio/ogg; codecs="opus"'>
  <source src="{{ site.s3_baseurl }}/{{ page.itunes }}" type='audio/mp4'>
  {% if page.chapters %}
    <track kind="chapters" src="/chapters/{{ page.chapters }}" default>
  {% endif %}
  Your browser does not support the audio tag. Sorry!
</audio>

<a target="_blank" class="download" href="{{ site.s3_baseurl }}/{{ page.itunes }}" download>
  <span class="icon">&#xf019;</span> Download
</a>
