<div id="player{{ forloop.index | minus:1 }}" class="player">
  <div id="chapters{{ forloop.index | minus:1 }}" class="chapters">
    <div class="shield" onclick="toggleList(this)"></div>
    <i class="fa fa-arrow-circle-o-left chapter-back" onclick="chapterBackward(this)"></i>
    <i class="fa fa-arrow-circle-o-right chapter-forward" onclick="chapterForward(this)"></i>
    <span id="progress{{ forloop.index | minus:1 }}" class="progress"></span>
    <ol id="cl{{ forloop.index | minus:1 }}" class="list"></ol>
  </div>
  <div id="controls{{ forloop.index | minus:1 }}" class="controls">
    <div class="time">
      <span class="currentTime"></span><span class="endTime"></span>
    </div>
    <i class="fa fa-backward backward" onclick="skipBackward(this)"><span>15</span></i>
    <i class="fa fa-play-circle-o playpause" onclick="playToggle(this)"></i>
    <i class="fa fa-forward forward" onclick="skipForward(this)"><span>15</span></i>
  </div>
</div>

<audio id="audio{{ forloop.index | minus:1 }}" preload="none">
  <source src="{{ site.s3_baseurl }}/{{ post.opus }}" type='audio/ogg; codecs="opus"'>
  <source src="{{ site.s3_baseurl }}/{{ post.itunes }}" type='audio/mp4'>
  {% if post.chapters %}
    <track kind="chapters" src="/chapters/{{ post.chapters }}" default>
  {% endif %}
  Your browser does not support the audio tag. Sorry!
</audio>

<a target="_blank" class="download" href="{{ site.s3_baseurl }}/{{ post.itunes }}" download>
  <span class="icon">&#xf019;</span> Download
</a>
