<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Redirect to HTTPS -->
  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />

  <!-- Social Media meta tags -->
  {% include socialmeta.html %}

  <title>
    {% if page.title == "Episodes" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet"
        href="/styles.css">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
  {% if page.layout == "blog" %}
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Great+Vibes">
  {% endif %}
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" 
        sizes="144x144" 
        href="/assets/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon"
        href="/assets/favicon.ico">

  <!-- RSS -->
  <link rel="alternate"
        type="application/rss+xml"
        title="RSS"
        href="/atom.xml">

  <!-- Audio player -->
  <script src="/player/player.js"></script>
  <link rel="stylesheet" href="/player/player.css">

</head>
