<p class="fine-print">
  The content on this website is licensed under a
  <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
    Creative Commons Attribution 4.0 International License</a>.
  Our podcast episodes are also CC BY 4.0, with the exception of the music.
  The song we use for our intro/outro and bumps is
  <a target="_blank" href="https://licensing.jamendo.com/en/track/1243033/this-is-jazz-manouche">
    <em>This Is Jazz Manouche</em> by MagikStudio</a>, all rights are reserved.
</p>
