<meta name="twitter:card"        content="summary">
<meta name="twitter:site"        content="@loveydummies">
<meta name="twitter:description" content="Listen on loveydummies.com">
<meta name="twitter:image"       content="{{ site.url }}/assets/apple-touch-icon-precomposed.png">

<meta property="og:url"          content="{{ site.url }}{{ page.url }}">
<meta property="og:type"         content="article">
{% if page.layout == "episode" %}
  <meta property="og:image"        content="{{ site.s3_baseurl }}/social/{{ page.id | remove_first:'/' | replace:'/','-' }}.jpg">
{% elsif page.layout == "blog" %}
  <meta property="og:image"        content="{{ site.s3_baseurl }}/blog/{{ page.id | remove_first:'/' | replace:'/','-' }}.jpg">
{% else %}
  <meta property="og:image"        content="{{ site.url }}/assets/ld-og.png">
{% endif %}
<meta property="og:image:width"  content="1200">
<meta property="og:image:height" content="630">

{% if page.title == "Episodes" %}
  <meta property="og:title"        content="{{ site.title }}">
  <meta property="og:description"  content="{{ site.description }}">
  <meta name="twitter:title"       content="{{ site.title }}">
{% elsif page.title =="About us" || page.title =="Contact us" %}
  <meta property="og:title"        content="{{ page.title }}">
  <meta property="og:description"  content="{{ page.description }}">
  <meta name="twitter:title"       content="{{ page.title }}">
{% else %}
  <meta property="og:title"        content="{{ page.title }}">
  <meta property="og:description"  content="{{ page.excerpt | strip_html | strip_newlines }}">
  <meta name="twitter:title"       content="{{ page.title }}">
{% endif %}
