<nav class="tab-nav">
  <div class="tab-wrap">

    <a class="tab-nav-item{% if page.url == '/' %} active{% endif %}"
       href="{{ site.baseurl }}/">
      <span class="icon">&#xf2ce;</span>
      <span class="label">Episodes</span>
    </a>

    <a class="tab-nav-item{% if page.url == '/blog/' %} active{% endif %}"
       href="{{ site.baseurl }}/blog">
      <span class="icon">&#xf1ea;</span>
      <span class="label">Blog</span>
    </a>

    <a class="tab-nav-item{% if page.url == '/about/' %} active{% endif %}"
       href="{{ site.baseurl }}/about">
      <span class="icon">&#xf05a;</span>
      <span class="label">About</span>
    </a>

    <a class="tab-nav-item{% if page.url == '/contact/' %} active{% endif %}"
       href="{{ site.baseurl }}/contact">
      <span class="icon">&#xf0e0;</span>
      <span class="label">Contact us</span>
    </a>

  </div>
</nav>
