.chapters {
  text-align: center;
  display: none;
  position: relative;
  overflow: hidden;
  max-width: 18rem;
  height: 2rem;
  margin: 0 auto;
  border: 1px solid grey;
  border-radius: 3px;
  background: rgba(255,255,255,0.3);
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}
.chapters.seek {
  overflow: visible;
}

.shield {
  cursor: pointer;
  width: inherit;
  height: inherit;
  position: relative;
  background: rgba(255,255,255,0.1);
  z-index: 2;
}
.chapters ol {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 2rem;
  position: relative;
  top: -2rem;
  font-family: "FontAwesome", serif;
  transition: top 100ms ease-out;
  z-index: 1;
}
.shield.seek {
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 4;
}
.chapters ol.seek {
  border: 1px solid rgba(0,0,0,0.6);
  border-radius: 3px;
  background: rgba(240,230,230,1);
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2), 0 0 45px rgba(255,255,255,0.6);
  z-index: 5;
}
.progress {
   background: #d8005b;
   width: 0;
   height: 2px;
   border-radius: 1px;
   box-shadow: 0 -1px 2px rgba(0,0,0,0.1);
   position: absolute;
   bottom: 0;
   display: block;
}
i.fa-arrow-circle-o-left,
i.fa-arrow-circle-o-right {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  font-size: 1.3rem;
  top: 6px;
  z-index: 3;
}
i.fa-arrow-circle-o-left { left: 4px; }
i.fa-arrow-circle-o-right { right: 4px; }
i.fa-arrow-circle-o-left.seek,
i.fa-arrow-circle-o-right.seek {
  z-index: 1;
}
i.fa-arrow-circle-o-left.hide,
i.fa-arrow-circle-o-right.hide {
  display: none;
}

.controls {
  text-align: center;
  line-height: 3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.controls .time {
  position: relative;
  max-width: 17rem;
  margin: 0 auto;
  line-height: 1.2rem;
  font-size: 0.8rem;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
.time .currentTime {
  float: left;
}
.time .endTime {
  float: right;
}

.controls i {
  margin-top: 1rem;
  cursor: pointer;
  font-size: 3rem;
}
i.fa-forward {
  left: -10px;
  transition: opacity 200ms, left 400ms ease-out;
}
i.fa-backward {
  right: -10px;
  transition: opacity 200ms, right 400ms ease-out;
}
i.fa-forward,
i.fa-backward {
  opacity: 0;
  font-size: 1.5rem;
  position: relative;
  top: -10px;
}
i.fa-backward:before {
  float: right;
}
.controls i span {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  position: relative;
  top: -3px;
}
i.fa-forward.show {
  opacity: 1;
  left: 14px;
}
i.fa-backward.show {
  opacity: 1;
  right: 14px;
}
.chapters i:hover,
.controls i:hover {
  text-shadow: 0 1px white;
}
.chapters i:active,
.controls i:active {
  transform: scale(0.9);
}

