---
layout: default
---

<article class="post container">
  <div class="post-header">
    <div class="post-cover" style="background: url('{{ site.s3_baseurl }}/blog/{{ page.id | remove_first:'/' | replace:'/','-' }}.jpg') center/cover no-repeat;"></div>
    <div class="post-float">
      <h2 class="post-title">
        {{ page.title }}
      </h2>
      <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">
        {{ page.date | date: "%B %-d, %Y" }}
      </time>
    </div>
    {% if page.photoCredit_url %}
      {% include photocredit.html %}
    {% endif %}
  </div>
  <div class="post-body">
    {{ content }}
  </div>

</article>
