<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <header class="masthead">
        <a href="{{ site.baseurl }}/" title="Home">
          <img src="/assets/ld-logo-long.png" />
        </a>
    </header>

    {% include tab.html %}

    <main class="content">
      {{ content }}
    </main>

  {% include footer.html %}

  </body>
</html>
